@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,700;0,800;1,200;1,700&display=swap');
html{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    line-height: 1;
    font-family: 'Nunito', sans-serif;
}

/* navbar */
.navbar-light .navbar-nav .nav-link{
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
p{
    line-height: 25.6px;
}
.profile{
    width: 100%;
    height: 100%;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .navbar>.container-fluid{
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }
  