@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,700;0,800;1,200;1,700&display=swap');
html{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    line-height: 1;
    font-family: 'Nunito', sans-serif;
}

:root{
    --bg-color: #2A9D8F;
    --bg-primary: #264653;
}

.bg-info{
    background-color: var(--bg-color) !important;
}
/* navbar */
.dropdown-toggle::after{
    display: none !important;
}
.navbar-light .navbar-nav .nav-link{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px;
    margin: 10px 20px 0 20px;

}
.navbar-light .navbar-nav .nav-link.btn-info{
    background-color: #264653;
    color: #fff;
    border: none;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
   color: #fff !important;
   margin-top: 10px;
   font-weight: bold;
   background:#38a59b;
   padding: 10px 10px;
   border-radius: 5px;
}

header.carousel{
    width: auto;
    height: max-content;
}
header#content-profile{
    height: 900px;
}
p,li{
    line-height: 25.6px;
}
.profile{
    width: 100%;
    height: max-content;
}
.profile .swipper{
    width: 100%;
    height: max-content; 
}
.profile .swiper-slide.card{
    border-radius:40px !important;
    width: max-content;
    height: 600px;
    max-height:100%;
    margin-bottom: 150px;
    overflow: hidden;
}
.profile .swiper-slide.card h4{
    font-size: 32px;
}
.profile .swiper-slide.card p{
    line-height: 50.6px;
    font-size: 20px;

    
}
.profile .swiper-slide.card li{
    line-height: 35px;
    font-size: 20px;

}
.swiper-slide.card.rounded.swiper-slide-active{

    opacity: 1;
    /* background: #fff !important; */
    /* padding: 50px; */
    height: 900px;
    width: 100%;
    /* border: 2px solid #ffa303; */
}

.swiper-pagination-bullet {
    width: max-content;
    height: max-content;
    padding: 20px;
    border-radius: 0;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #000;
    opacity: 1;
    background: none;
  }

  .swiper-pagination-bullet-active {
    color: #264653;
    font-weight: bold;
    border-bottom: 1px solid #000;
    /* background: #007aff; */
  }
  
.program{
    width: 100%;
    height: max-content;
    background-color: #D9D9D9;
    border-radius: 50px 50px 0 0;
}
.program .filter-button.active{
    border-bottom: 3px solid #000 !important; 
}
.program .input-group-text{
    background-color:#fff;
    border: none;
    border-radius: 20px;
}
.program span.deadline{
    color: #E66F51;
}
.program .btn-primary{
    background-color: var(--bg-primary);
    border: none;
}
.btn-outline-primary{
    color: var(--bg-primary);
    border-color: var(--bg-primary);
}
button:hover.btn-outline-primary{
    background-color: var(--bg-primary) !important;
    color: #fff;
}
.program .form-control{
    border-radius: 20px;
    border: none;
    padding: 15px 10px;
}

footer .footer{
    height: max-content;
    background-color: #F3A261;
}
footer .footer-copyright {
    height: max-content;
}
footer ul{
    list-style-type: none;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .navbar>.container-fluid{
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        margin: 15px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }
  