@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,700;0,800;1,200;1,700&display=swap');
html{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    line-height: 1;
    font-family: 'Nunito', sans-serif;
    background-color: #8DA1A9;

}


:root{
    --bg-color: #2A9D8F;
    --bg-primary: #264653;
    --swiper-navigation-size: 1rem !important;
}

.navbar-light.transparent { 
    background-color: transparent !important;
    /* position: relative; */
}
header.position{
    /* position: relative; */
    bottom: 140px;
    height: 100vh;
}
.bg-gray{
    background-color: #656565;
}
#struktur-polije .card, #struktur-polije .card img{
    border-radius: 15px !important;
    border: none;
}
#struktur-polije .card .card-body{
    border-radius: 0 0 10px 10px;

}
/* Edit video */
header.carousel{
    position: relative;
    top: -150px;
    width: auto;
    height: 100vh;
}

#video {
    position: relative;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: black no-repeat center center/cover;
  }
   
  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
   
  .carousel .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(7, 156, 29, 0.3); */
    background-color: rgba(0, 0, 0, 0.685);
    z-index: 2;
  }


.bg-info{
    background-color: var(--bg-color) !important;
    transition: 2s;
    transition-timing-function: linear;
}
.bg-transparent{
    transition:  1s;
    transition-timing-function: ease-in;
}
/* navbar */
.dropdown-toggle::after{
    display: none !important;
}
.navbar-light .navbar-nav .nav-link{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px;
    margin: 10px 20px 0 20px;

}
.navbar-light .navbar-nav .nav-link.btn-info{
    background-color: #264653;
    color: #fff;
    border: none;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
   color: #fff !important;
   margin-top: 10px;
   font-weight: bold;
   background:#38a59b;
   padding: 10px 10px;
   border-radius: 5px;
}


p,li{
    line-height: 25.6px;
}
.profile{
    width: 100%;
    height: max-content;
}
.profile .swiper {
    width: 100%;
    height: max-content;
}
.profile .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* .profile .swiper-slide.card.rounded.shadow.d-flex.align-self-center.swiper-slide-next p{
    overflow-wrap: break-word !important;
    line-height: 28px !important;
}
.profile .swiper-slide.card.rounded.shadow.d-flex.align-self-center.swiper-slide-next h4{
    font-size: 28px;
   
}
.profile .swiper-slide.card.rounded.shadow.d-flex.align-self-center.swiper-slide-next{
    width: 400px !important;
    height: 450px;

} */
#program-content .card{
    border-radius: 15px;
    border: none;
}
#program-content .card-footer{
    background-color: #fff;
    border: none;
}
#program-content .card-footer .btn-primary{
    border-radius: 10px;
}

.profile .swiper-slide.card{
    border-radius:40px !important;
    /* width: 250px; */
    height: 400px;
    max-height:100%;
    margin-bottom: 150px;
    overflow: hidden;
}
.profile .swiper-slide.card h4{
    font-size: 32px;
}
.profile .swiper-slide.card p{
    line-height: 50.6px;
    font-size: 14px;

    
}
.profile .swiper-slide.card li{
    line-height: 35px;
    font-size: 14px;

}
.swiper-slide.card.rounded.swiper-slide-active{

    opacity: 1;
    /* background: #fff !important; */
    /* padding: 50px; */
    height: 500px;
    width: 40px;
    /* border: 2px solid #ffa303; */
}
.swiper-pagination-bullet {
    width: max-content;
    height: max-content;
    padding: 20px;
    border-radius: 0;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #000;
    opacity: 1;
    background: none;
}

.swiper-pagination-bullet-active {
    color: #264653;
    font-weight: bold;
    border-bottom: 1px solid #000;
    /* background: #007aff; */
}
  
.program{
    width: 100%;
    height: max-content;
    background-color: #D9D9D9;
    border-radius: 50px 50px 0 0;
}
.program .filter-button.active{
    border-bottom: 3px solid #000 !important; 
}
.program .input-group-text{
    background-color:#fff;
    border: none;
    border-radius: 20px;
}
.program span.deadline{
    color: #E66F51;
}
.program h4{
    font-size: 20px;
}
.program h5{
    font-size: 17px;
}
.program .btn-primary{
    background-color: var(--bg-primary);
    border: none;
}
.btn-outline-primary{
    color: var(--bg-primary);
    border: 4px var(--bg-primary) solid;
    font-weight: bold !important;
}
button:hover.btn-outline-primary,a:hover.btn-outline-primary{
    background-color: var(--bg-primary) !important;
    color: #fff;
    border: 4px var(--bg-primary) solid;
}
.program .form-control{
    border-radius: 20px;
    border: none;
    padding: 15px 10px;
}
.count__program{
    width: 100%;
    /* height: max-content; */
     /* !important; */
    border-radius: 0px 0px 100px 100px !important;
    /* border-radius: 400px; */
}
.sec-announcement{
    height: max-content;
    background-color: #8DA1A9;
}
.sec-announcement .accordion-button:not(.collapsed)::after,.accordion-button::after{
    display: none;
}

.sec-announcement h6{
    font-size: 20px;
}
.sec-announcement .accordion-button:not(.collapsed),.accordion-item:last-of-type .accordion-button.collapsed{
    color: #fff;
    background-color: var(--bg-primary);
    border: none !important;
    border-radius: 10px;
}
.sec-announcement .accordion-item{
    border-radius: 20px 20px 10px 10px !important;
    border: none;
}
.sec-announcement .accordion{
    border-radius: 20px;
}
.carausel-gambar{
    height: max-content;
}
.carausel-gambar .swiper-slide{
    height: 750px;
    max-height: 600px;
}
.image-container {
    position: relative;
  }
.image-container img{
    height: 750px;
    max-height: 600px;
    width: 100%;
}

.image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    max-height: 600px;
    z-index: 0;
    background-color: rgba(45, 43, 43, 0.581); 
    /* background-color: #fff; */
}

.carausel-gambar .swiper-button-next,.carausel-gambar .swiper-button-prev{
    position: absolute;
    top: 90%;
    right: 5%;
    ;
}
.carausel-gambar .swiper-button-prev{
    right: 20px;
    left: 90%;
}
.carausel-gambar .swiper-pagination-bullet {
    width: 30%;
    height: max-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #000;
    
}

.carausel-gambar .swiper-pagination-bullet-active {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.carausel-gambar .swiper-button-next, .carausel-gambar .swiper-button-prev{
    color: #fff;
}
.carausel-gambar  .swiper-button-next, .carausel-gambar  .swiper-button-prev{
    /* background-color:white; */
    /* padding: 20px 20px; */
    /* border-radius: 50%; */
    /* box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15); */
    /* -webkit-box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15); */
    /* -moz-box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15); */
}
.carausel-gambar  .swiper-button-next:after, .carausel-gambar  .swiper-button-prev:after{
    color: #fff;
    font-family: swiper-icons;
    font-size:  40px !important;
    font-weight: 900;
}


.artikel .card .blog-left{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(12, 13, 13, 0.62);
}
.artikel .card img{
    border-radius: 15px;
    height: 400px;
    width: 100%;
}
.artikel .card.card-left a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
.artikel .card .card-body h4{
    font-weight: bold;
    font-size: 16px;
} 
.artikel .btn-primary{
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}
.artikel .swiper-button-next, .artikel .swiper-button-prev{
    background-color:white;
    padding: 20px 20px;
    border-radius: 50%;
    box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15);
}
.artikel .swiper-button-next:after, .artikel .swiper-button-prev:after{
    color: #8A8A8A;
    font-family: swiper-icons;
    font-size:  var(--swiper-navigation-size);
    font-weight: 900;
}

.job-fair .swiper-button-next, .job-fair .swiper-button-prev{
    background-color:white;
    padding: 20px 20px;
    border-radius: 50%;
    box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.15);
}
.job-fair .swiper-button-next:after, .job-fair .swiper-button-prev:after{
    color: #8A8A8A;
    font-family: swiper-icons;
    font-size:  var(--swiper-navigation-size);
    font-weight: 900;
}

.select2-container {
    width: 100% !important;

}

.select2-container--default .select2-selection--single {
    border-radius: 0.35rem;
    border: 1px solid #d1d3e2;
    height: calc(1.98rem + 10px);
    background: #fff;
}

.select2-container--default .select2-selection--single:hover,
.select2-container--default .select2-selection--single:focus,
.select2-container--default .select2-selection--single.active {
    box-shadow: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;

}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 26px;
    position: absolute;
    top: 7px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--multiple {
    border-color: #eaeaea;
    border-radius: 0;
}

.select2-dropdown {
    border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3F3D3D;
    border-radius: 10px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #eaeaea;
    background: #fff;

}
div .detail .detail-alamat ul{
    list-style-type: none;
}
/* nav.pagination .page-item .page-link{
} */
.pagination-statistik .page-link{
    border-radius: 100px;
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    color: #3F3D3D;
}
.pagination-statistik .page-link i{
    font-size: 28px;
}
.pagination-statistik .page-item.active .page-link{
    z-index: 3;
    color: #fff;
    background-color: #3F3D3D;
    border-color: #3F3D3D;
}
.pagination-statistik .page-item a:hover.page-link{
    z-index: 3;
    color: #fff;
    background-color: #3F3D3D;
    border-color: #3F3D3D;
}
.pagination-statistik .page-item:last-child .page-link{
    border-radius: 100px;
    background-color: transparent;
    border: none;
}
#table-responce-rate .rounded{
    border-radius: 12px !important;
}
#table-responce-rate table tr{
    background-color: #363636 !important;
    color: #fff;
}
#table-responce-rate table thead tr th{
    padding: 20px;
}
footer .footer{
    height: max-content;
    background-color: var(--bg-primary);
}
footer .footer-copyright {
    height: max-content;
}
footer ul{
    list-style-type: none;
}

footer ul li a{
    color: #fff;
    font-size: 18px;
}
.lowongan {
    height: max-content;
}
.lowongan .btn-primary{
    background-color: var(--bg-primary);
    border: none;
    padding: 14px 15px !important;
}

.lowongan span.deadline{
    color: #E66F51;
}


@media only screen and  (max-width: 760px) {
    td, tr { display: block; }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr { border: 1px solid #000; }
    tr + tr { margin-top: 1.5em; }
    td {
      /* make like a "row" */
      border: none;
      border-bottom: 2px solid #000;
      position: relative;
      background-color: #FBFDF7 !important;
      color: #000;
      padding: 5 !important;
      text-align: left;
      font-size: 20px;
      
    }
        td:before {
        content: attr(data-label) ' :';
        display: inline-block;
        line-height: 1.5;
        margin-left: 0;
        margin-bottom: 20px;
        background-color: #D9D9D9;
        padding: 10px;
        color: #000;
        font-size: 20px;
        width: 100%;
        white-space: nowrap;
        }
        td::after{
            content:  '';
            display: inline-block;
            line-height: 1.5;
            margin-left: 0;
            /* margin-bottom: 20px; */
            padding: px;
            color: #000;
            font-size: 20px;
            width: 100%;
            white-space: nowrap;
        }
        
    }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .navbar>.container-fluid{
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        margin: 15px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }
  
 @-webkit-keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}
@-moz-keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

@keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}
.content-invisible {
    opacity: 1;
    -webkit-animation: fading ease-in 1s;
    animation: fading ease-in 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
}

.content-invisible.one {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}